
table, th, td {
    border: 1px solid black;
  }
   tbody tr:nth-child(odd) td{
    background-color: #D8B4F8 ;
    
}
 tbody tr:nth-child(even) td{
    background-color: #CAEDFF;
}
td,th{
    text-align: center;
}
.form-label{

    color:black;
}
